@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");
@font-face {
  font-family: BrandonText-Bold;
  src: url("../fonts/BrandonText-Bold.otf"); }
@font-face {
  font-family: BrandonText-Light;
  src: url("../fonts/BrandonText-Light.otf"); }
@font-face {
  font-family: Lustria;
  src: url("../fonts/Lustria-Regular.ttf"); }
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/OpenSans-Light.ttf"); }
.container {
  width: 85%;
  margin: auto; }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

* {
  padding: 0;
  margin: 0; }

.header {
  width: 100%;
  font-family: 'OpenSans-Light'; }

.header-menu {
  background-color: #1B1E25;
  width: 100%;
  position: fixed;
  z-index: 9999; }

div.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.logo img {
  color: white;
  width: 70px;
  height: 70px;
  padding: 0px 0px; }

.logo p {
  align-self: center;
  color: white;
  font-size: 46px; }

nav.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

ul.menu-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

li.menu-item {
  list-style: none;
  padding: 25px 0px;
  transition: all 1s ease; }

li.menu-item a {
  transition: all 1s ease;
  padding: 25px 25px;
  color: white;
  text-decoration: none; }

li.menu-item:hover {
  background-color: #2ABBAE; }

li.menu-item a:hover {
  color: #1B1E25;
  font-weight: bold; }

ul.menu-items li {
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s; }

ul.menu-items li a {
  box-shadow: inset 0 0 0 0 #FFF;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: relative; }

ul.menu-items:after {
  content: "";
  clear: both;
  display: block; }

ul.menu-items li.active a:after {
  position: absolute;
  bottom: 1px;
  content: "";
  left: 2px;
  right: 2px;
  border-bottom: 2px solid #2ABBAE; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.navdropdown {
  display: none;
  cursor: pointer;
  overflow: hidden; }

@media screen and (max-width: 768px) {
  li.menu-item {
    align-items: flex-start;
    list-style: none;
    opacity: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0px; }

  li.menu-item:hover {
    background-color: #2ABBAE; }

  li.menu-item a {
    color: white;
    text-decoration: none; }

  .logo {
    font-size: 20px; }

  .navlinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: #1B1E25;
    top: 5.6vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    position: absolute;
    /* opacity: 0.9;
    filter:  alpha(opacity=30); */ }

  /* boton */
  .download {
    display: none; }

  .navdropdown {
    display: block;
    padding-top: 4%;
    position: relative;
    top: 50%; }

  .navdropdown div {
    width: 22px;
    height: 2px;
    background-color: #dbdbdb;
    margin: 6.5px; } }
.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  transition-duration: 500ms; }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
  transition-duration: 500ms; }

.banner {
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-image: url("../img/banner.jpg");
  height: 500px; }

.page-heading {
  position: relative; }

.banner-content {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center; }

.page-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%; }

.banner-booton {
  align-self: center;
  background-color: #2ABBAE;
  text-decoration: none;
  z-index: 2;
  font-size: 30px;
  padding: 5px 10px;
  color: #1B1E25;
  font-weight: bold;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  margin-top: 50px; }

.banner-booton:hover {
  background-color: #1B1E25;
  color: #2ABBAE; }

.text-banner {
  z-index: 2;
  font-size: 50px;
  color: #ffffff; }

.text-banner li {
  display: none;
  opacity: 0.0 !important; }

.text-banner-iam {
  margin-top: 50px;
  font-size: 70px;
  color: #ffffff; }

/* Desktop only style */
/* Tablet only style */
@media (min-width: 767px) and (max-width: 1024px) {
  .banner {
    padding-top: 100px; }

  .banner-content {
    width: 75%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .text-banner {
    margin-top: 5vh;
    z-index: 2;
    color: #ffffff;
    font-size: 50px !important; }

  .text-banner-iam {
    text-align: center;
    width: 75%;
    height: 200px;
    margin-top: 2vh;
    color: #ffffff; }

  .banner-booton {
    margin-top: 1vh; } }
/* Mobile only style */
@media (max-width: 787px) {
  .banner {
    padding-top: 100px;
    height: 90vh; }

  .banner-content {
    width: 85%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .text-banner {
    margin-top: 5vh;
    z-index: 2;
    font-size: 30px;
    color: #ffffff; }

  .text-banner-iam {
    width: 100%;
    height: 200px;
    margin-top: 10vh;
    font-size: 50px;
    color: #ffffff; }

  .banner-booton {
    margin-top: 10vh; } }
.iam {
  font-size: 20px;
  font-family: 'Lustria'; }

.iam-content {
  width: 40%;
  padding: 60px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.iam-content .iam-text {
  font-size: 30px;
  font-family: 'OpenSans-Light'; }

.iam-content .iam-text span {
  font-family: 'BrandonText-Bold';
  color: #2ABBAE; }

div.avatar {
  background-image: url("../img/avatar.png");
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 200px;
  width: 200px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: 20px 0px; }

/* Mobile only style */
@media (max-width: 787px) {
  .iam-content {
    width: 90%;
    padding: 60px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; } }
.skyls {
  height: 300px; }

.skyls-content {
  font-family: "Titillium Web", sans-serif; }

/* Mobile only style */
@media (max-width: 787px) {
  .skyls-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; } }
.pro {
  font-family: 'OpenSans-Light';
  font-size: 30px; }

.project-content {
  text-align: center;
  background-color: #1B1E25;
  height: 300px;
  color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
