// colores
$prymary: #2ABBAE;
$secundary: #1B1E25;
$white: #ffffff;
$all: #2ABBAE;
// font
@font-face { font-family: BrandonText-Bold; src: url('../fonts/BrandonText-Bold.otf'); } 
@font-face { font-family: BrandonText-Light; src: url('../fonts/BrandonText-Light.otf'); } 
@font-face { font-family: Lustria; src: url('../fonts/Lustria-Regular.ttf'); } 
@font-face { font-family: OpenSans-Light; src: url('../fonts/OpenSans-Light.ttf'); } 

// mix
@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else { 
		-ms-flex-wrap: $value; 
	}
	flex-wrap: $value;
}
@mixin background-img {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover; 
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// config
.container{
    width: 85%;
    margin: auto;
}
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    @include flexbox();
    @include flex-wrap(wrap);
}

*{
    padding: 0;
    margin: 0;
}
// header
.header{
    width: 100%;
    font-family: 'OpenSans-Light';
}
.header-menu{
    background-color: $secundary;
    width:100%;
    position:fixed;
    z-index:9999;
}
div.header-content{
    @include flexbox();
    @include flex-wrap(wrap);
    justify-content: space-between;
}
.logo{
    @include flexbox();

}
.logo img{
    color: white;
    width: 70px;
    height: 70px;
    padding: 0px 0px;
}
.logo p{
    align-self: center;
    color: white;
    font-size: 46px;
}
nav.menu{
    @include flexbox;
    @include flex-wrap(wrap);
}
ul.menu-items{
    @include flexbox();
    text-align: center;
}
li.menu-item{
    list-style: none;
    padding: 25px 0px;
    transition: all 1s ease;
}
li.menu-item a{
    transition: all 1s ease;
    padding: 25px 25px;
    color: white;
    text-decoration: none;
}
li.menu-item:hover{
    background-color: $prymary;
}
li.menu-item a:hover{
    color: $secundary;
    font-weight: bold; 
}
ul.menu-items li {
    @include transition(all ease 0.8s);
}

ul.menu-items li a {
	box-shadow: inset 0 0 0 0 #FFF;
    @include transition(all ease 0.8s);
    position: relative;
}
ul.menu-items:after {
	content:"";
	clear:both;
	display:block;
}
ul.menu-items li.active a:after  {
    position: absolute;
    bottom: 1px;
    content: "";
    left: 2px;
    right: 2px;
    border-bottom: 2px solid $prymary;
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


// menu responsibe
.navdropdown{
    display: none;
    cursor: pointer;
    overflow: hidden;
}
@media screen and (max-width: 768px){
    li.menu-item{
        align-items: flex-start;
        list-style: none;
        opacity: 0;
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }
    li.menu-item:hover{
        background-color: $prymary;
    }
    li.menu-item a{
        color: white;
        text-decoration: none;
    }
    .logo{
        font-size: 20px;
    }
    .navlinks{
        @include flexbox();
        @include flex-wrap(wrap);
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 100vh;
        background-color: #1B1E25;
        top: 5.6vh;
        display: flex;
        flex-direction: column;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        position: absolute;
        /* opacity: 0.9;
        filter:  alpha(opacity=30); */
    }
       /* boton */
    .download{
        display: none;
    }
    .navdropdown{
        display: block;
        padding-top: 4%;
        position: relative;
        top: 50%;
    }
    .navdropdown div{ 
        width: 22px;
        height: 2px;
        background-color: rgb(219, 219, 219);
        margin: 6.5px;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px, 6px);
    transition-duration: 500ms;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px, -6px);
    transition-duration: 500ms;
}
//banner
.banner{
    padding-top: 200px;
    @include background-img();
    background-image: url("../img/banner.jpg");
    height: 500px;
}
.page-heading {
    position: relative;
}
.banner-content{
    width: 50%;
    @include flexbox();
    flex-direction: column;
    align-items: center;
}
.page-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}
.banner-booton{
    align-self: center;
    background-color: $prymary;
    text-decoration: none;
    z-index:2;
    font-size: 30px;
    padding: 5px 10px;
    color: $secundary;
    font-weight: bold;
    @include transition(all ease 0.8s);
    margin-top: 50px;
}
.banner-booton:hover{
    background-color: $secundary;
    color: $prymary;
}
.text-banner{
    z-index:2;
    font-size: 50px;
    color: $white;
}
.text-banner li{
    display: none;
    opacity: 0.0 !important;
}
.text-banner-iam{
    margin-top: 50px;
    font-size: 70px;
    color: $white;
};

/* Desktop only style */
@media (max-width:1150px) {

}

/* Tablet only style */
@media (min-width:767px) and (max-width:1024px) {
    .banner{
        padding-top: 100px;
    }
    .banner-content{
        width: 75%;
        @include flexbox();
        flex-direction: column;
        align-items: center;
    }
    .text-banner{
        margin-top: 5vh;
        z-index:2;
        color: $white;
        font-size: 50px !important;
    }
    .text-banner-iam{
        text-align: center;
        width: 75%;
        height: 200px;
        margin-top: 2vh;
        color: $white;
    }
    .banner-booton{  
        margin-top: 1vh;
    }
}

/* Mobile only style */
@media (max-width:787px) {
    .banner{
        padding-top: 100px;
        height: 90vh;
    }
    .banner-content{
        width: 85%;
        @include flexbox();
        flex-direction: column;
        align-items: center;
    }
    .text-banner{
        margin-top: 5vh;
        z-index:2;
        font-size: 30px;
        color: $white;
    }
    .text-banner-iam{
        width: 100%;
        height: 200px;
        margin-top: 10vh;
        font-size: 50px;
        color: $white;
    };
    .banner-booton{  
        margin-top: 10vh;
    }
}

.iam{
    font-family: 'Lustria';
    font-size: 26px;
}
.pro{
    font-family: 'OpenSans-Light';
    font-size: 30px;
}